.test {
    border-style: solid;
    border-width: thick;
    border-color: black;
    /* height: 800px !important;
    width: 800px !important; */

}

.nav {
    background-color: rgb(235, 227, 218);
}

.logo {
    height: 330px;
}

.heading {
    display: flex;
    margin-right: 15%;
    float: right;
    font-size: 150px;
    font-weight: 600;
    background-image: linear-gradient(to bottom left,#553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}   

.searchbar {
    margin: auto;
    padding: 10px;
    width: auto;
}

hr {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.recipeContainer {
    display: flexbox;
}

.recipe {
    margin: auto;
    width: 30%;
}

.recepie-title {
    overflow-wrap: break-word;
    font-size: 35px;
}
