.test {
    border-style: solid;
    border-width: thick;
    border-color: black;
    /* height: 800px !important;
    width: 800px !important; */

}
body {
    background-color: #0f7cf1;
    color: white
}

.nav {
    background-color: #bed3f0;
}

.logo {
    height: 330px;
}

.heading {
    /* display: inline-block; */
    display: flex;
    margin-right: 15%;
    float: right;
    font-size: 150px;
    font-weight: 600;
    background-color: #0f7cf1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}   

.headingSub {
    display: flex;
    margin-right: 15%;
    float: right;
    font-size: 25px;
    background-color: #0f7cf1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.searchbar {
    margin: auto;
    padding: 10px;
    width: auto;
}

hr {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.recipeContainer {
    display: none;
}

.recipe {
    margin: auto;
    margin-bottom: 3%;
    width: 30%;
    height: 400px;
    text-align: center;
}

.recipe-title {
    overflow-wrap: break-word;
    font-size: 35px;
}

.advice {
    width: 100%;
    overflow-wrap: break-word;
    color: white;
}

.theModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color:#0f7cf1;
}

.close,.close2,.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close,.close2,.close3:hover,
.close,.close2,.close3 :focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footerlogo {
    color: white;
}
.h2 {
font-size: x-large;
margin:2%;
text-align:center;
}
h4 {
    color:white;
}
li {
    margin-top: 1%;
}
#ingredients-search {
    padding-left: 5%;
    margin-right: 5%;
}
footer {
    text-align: center;
}
#ingredients-id {
    list-style-type: square;
}
#recipe-container, #recipe-container2  {
    margin-top:2%;
    margin: 2%;
    width: 95%;
}
.single-div {
    width: 30%;
}
@media screen and (max-width: 1465px) {
    .uk-width-1-4 {
        display: none;
    }

    .uk-width-3-4 {
        width: 100%;
    }

    .heading, .headingSub {
        margin: auto;
        float: none;
        padding-left: 10%;
    }

}

@media screen and (max-width: 1164px) {
    .recipe {
        width: 90%;
        height:150%;

    }
    .heading, .headingSub {
        margin: auto;
        float: none;
    }
    .heading {
        font-size:400% ;
    }
}